body {
	background-color: lightcyan;
	font-size: 24px;
	padding: 1rem;
}

ul div {
	display: flex;
	margin: 10px 0;
}


li {
	list-style-type: none;
	text-transform: capitalize;
	letter-spacing: 1px;
}

button {
	border: none;
	margin-left: 10px; 
	background-color: transparent;
	color: red;
	font-size: 20px;
	cursor: pointer;
}